<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clickbait</title>
</head>
<body>
    <form action="/" method="post" class="form-horizontal">
        <div class="field">
              <label class="label" for="">Text: </label>
              <div class="control">
                <input class="input" type="text" name="clickbaitText" placeholder="Insert text here: ">
              </div>
              <p class="help">This is a help text</p>
        </div>
        <p>
            {{ clickbaitAns }}
        </p>
        <div class="control">
          <button class="button is-primary">Submit</button>
        </div>
    </form>
</body>
</html>