<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SENTIMENT ANALYSIS</title>
</head>
<body>
    <form action="/sentiment" method="post">
        <p>
            <label for="sentimentText">Analyze Sentence</label>
            <input type="text" name="sentimentText">
        </p>
        <p>
            {{  sentimentAns  }}
        </p>
        <p>
            <input type="submit">
        </p>
    </form>
</body>
</html>